{"openapi":"3.0.0","info":{"description":"Endpoints available for Forge remote apps once [DC to Forge remotes is available](https://jira.atlassian.com/browse/MIG-2452)","version":"1.0","title":"App migration","contact":{}},"x-atlassian-narrative":{"documents":[{"title":"About","anchor":"about","body":"Endpoints available for Forge remote apps once [DC to Forge remotes is available](https://jira.atlassian.com/browse/MIG-2452)"},{"title":"Authentication and authorization","anchor":"auth","body":"Requests to these endpoints must be made using Forge App Auth. See [this page](https://developer.atlassian.com/platform/forge/remote/calling-product-apis/#calling-atlassian-app-apis-from-a-remote) for more information."}]},"servers":[{"url":"https://api.atlassian.com","description":"Forge containers"}],"tags":[{"name":"Forge Resource","description":"Forge API endpoint"}],"paths":{"/app/migration/forge/v1/message/{transferId}/status":{"post":{"tags":["Forge Resource"],"summary":"Update message status","operationId":"setMessageProgress_1","parameters":[{"name":"transferId","in":"path","description":"Transfer ID as UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageProgress"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/app/migration/forge/v1/mapping/{transferId}/find":{"post":{"tags":["Forge Resource"],"summary":"Find mappings by namespace","operationId":"findByNamespaceAndKeys_2","parameters":[{"name":"transferId","in":"path","description":"Transfer ID as UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"namespace","in":"query","description":"Namespace","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/app/migration/forge/v1/log/{transferId}":{"post":{"tags":["Forge Resource"],"summary":"Add log message from the Forge App","operationId":"addLog_1","parameters":[{"name":"transferId","in":"path","description":"Transfer ID as UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForgeAppLog"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/app/migration/forge/v1/mapping/{transferId}/page":{"get":{"tags":["Forge Resource"],"summary":"Returns paginated mappings for a given namespace","operationId":"getMapping_1","parameters":[{"name":"transferId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"namespace","in":"query","required":true,"schema":{"type":"string"}},{"name":"lastEntity","in":"query","description":"The last entity from the previous page","required":false,"schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"Size of each returning page","required":false,"schema":{"type":"integer","format":"int32","default":1200,"maximum":1200,"minimum":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MigrationMappingDto"}}}}}}},"/app/migration/forge/v1/data/{transferId}/all":{"get":{"tags":["Forge Resource"],"summary":"Returns all uploaded file keys for a transfer Id","description":"**Deprecated**: This endpoint loads all file mappings into memory without pagination, which can cause out-of-memory errors for large transfers. Use `/app/migration/forge/v1/data/{transferId}/page` instead.","operationId":"getUploadedFiles_1","deprecated":true,"parameters":[{"name":"transferId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ForgeFileMappingDto"},"uniqueItems":true}}}}}}},"/app/migration/forge/v1/data/{transferId}/page":{"get":{"tags":["Forge Resource"],"summary":"Returns uploaded file metadata for a transfer Id in a paginated format","operationId":"getUploadedFilesPaginated","parameters":[{"name":"transferId","in":"path","description":"Transfer ID as UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"lastEvaluatedKey","in":"query","description":"The last key from the previous page, used as a cursor for pagination","required":false,"schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"Number of items to return per page. Minimum: 1, Maximum: 1000.","required":false,"schema":{"type":"integer","format":"int32","minimum":1,"maximum":1000}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ForgeFileMetadataDtoPage"}}}},"404":{"description":"Feature gate disabled"}}}},"/app/migration/forge/v1/data/{fileKey}":{"get":{"tags":["Forge Resource"],"summary":"Returns an object containing a signed url to retrieve app data","operationId":"getAppData_2","parameters":[{"name":"fileKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/app/migration/forge/v1/data/{fileKey}/payload":{"get":{"tags":["Forge Resource"],"summary":"Retrieves app data for given file key","operationId":"getAppDataPayload_1","parameters":[{"name":"fileKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}}}}},"/app/migration/forge/v1/container/{transferId}/page":{"get":{"tags":["Forge Resource"],"summary":"Returns containers for a given transferId and container Type","operationId":"getContainersForTransferIdByPage_1","parameters":[{"name":"transferId","in":"path","description":"Transfer ID as UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"containerType","in":"query","description":"Container Type","required":true,"schema":{"type":"string","enum":["JiraProject","ConfluenceSpace","Site"]}},{"name":"lastEntity","in":"query","description":"The last entity from the previous page","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"pageSize","in":"query","description":"Size of each returning page","required":false,"schema":{"type":"integer","format":"int32","default":250,"maximum":250,"minimum":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ContainerByPageResponse"}}}}}}}},"components":{"schemas":{"ConsentRequest":{"type":"object","properties":{"displayedText":{"type":"string"},"sens":{"type":"array","items":{"type":"string"},"uniqueItems":true}}},"WebhookEndpointsDto":{"type":"object","description":"Set of endpoints called after the app migration.","properties":{"endpoints":{"type":"array","items":{"type":"string"},"uniqueItems":true}}},"ModifyTransferStateRequest":{"type":"object","properties":{"migrationId":{"type":"string","format":"uuid"},"containerId":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["READY","IN_PROGRESS","SUCCESS","FAILED","SKIPPED","TIMED_OUT","INCOMPLETE","CANCELLATION_REQUESTED","CANCELLED"]},"percent":{"type":"integer","format":"int32"}}},"DefaultWebhookRequest":{"type":"object","properties":{"endpoint":{"type":"string"}}},"JobChangeDetail":{"type":"object","properties":{"jobId":{"type":"string"},"entityType":{"type":"string"},"status":{"type":"string","enum":["IN_PROGRESS","COMPLETED","FAILED","ABORTED"]}}},"FeederRequest":{"type":"object","properties":{"jobId":{"type":"string"},"entityType":{"type":"string"},"paginationKey":{"type":"string"},"schemaVersion":{"type":"integer","format":"int32"},"segment":{"type":"integer","format":"int32"},"dryRun":{"type":"boolean"},"jobType":{"type":"string","enum":["PMR","NON_PMR","TIDB"]}}},"FeederResponseSql":{"type":"object","properties":{"tableRecords":{"type":"array","items":{"$ref":"#/components/schemas/ShardAwareTableRecord"}},"jobType":{"type":"string","enum":["PMR","NON_PMR","TIDB"]},"nextPaginationKey":{"type":"string"}}},"ShardAwareTableRecord":{"type":"object","properties":{"shardingContext":{"type":"string"},"tableRecord":{"$ref":"#/components/schemas/TableRecord"}}},"TableRecord":{"type":"object","properties":{"tableName":{"type":"string"},"columnVsValueMap":{"type":"object","additionalProperties":{}}}},"Condition":{"type":"object","properties":{"attribute":{"type":"string"},"operator":{"type":"string","enum":["EQ","NE","LT","LE","GT","GE"]},"value":{"type":"integer","format":"int64"}}},"FeederResponse":{"type":"object","properties":{"shardAwareNodes":{"type":"array","items":{"$ref":"#/components/schemas/ShardAwareNodeModel"}},"jobType":{"type":"string","enum":["PMR","NON_PMR","TIDB"]},"nextPaginationKey":{"type":"string"}}},"NodeDto":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"schemaVersion":{"type":"integer","format":"int64"},"properties":{"type":"object","additionalProperties":{}}}},"ShardAwareNodeModel":{"type":"object","properties":{"workSpaceAriStr":{"type":"string"},"nodeDto":{"$ref":"#/components/schemas/NodeDto"},"condition":{"$ref":"#/components/schemas/Condition"}}},"GetUploadMutationUrlRequest":{"type":"object","properties":{"uploadId":{"type":"string"},"chunkIndex":{"type":"string"},"contentLength":{"type":"string"},"transferId":{"type":"string","format":"uuid"},"contentSHA256":{"type":"string"},"contentMD5":{"type":"string"}}},"MutationRequest":{"type":"object","properties":{"label":{"type":"string"},"seed":{"type":"string"}}},"InitializeUploadResponse":{"type":"object","properties":{"uploadId":{"type":"string"}}},"FinalizeUploadRequest":{"type":"object","properties":{"uploadId":{"type":"string"},"transferId":{"type":"string","format":"uuid"},"sha256CheckSumValues":{"type":"array","items":{"type":"string"}},"etags":{"type":"array","items":{"type":"string"}}}},"CloudSiteRequest":{"type":"object","properties":{"appKeys":{"type":"array","items":{"type":"string"}}}},"CloudSiteResponse":{"type":"object","properties":{"cloudId":{"type":"string"},"apps":{"type":"array","items":{"$ref":"#/components/schemas/SiteAppInfo"}}}},"SiteAppInfo":{"type":"object","properties":{"key":{"type":"string"},"installed":{"type":"boolean"}}},"AppTypeInstalledRequest":{"type":"object","properties":{"serverAppData":{"type":"array","items":{"$ref":"#/components/schemas/ServerAppData"}}}},"ServerAppData":{"type":"object","properties":{"forgeAppIds":{"type":"array","items":{"type":"string"}},"serverAppKey":{"type":"string"}}},"AppTypeInstalledResponse":{"type":"object","properties":{"forgeAppData":{"type":"array","items":{"$ref":"#/components/schemas/MatchedServerAppData"}},"connectServerAppKey":{"type":"array","items":{"type":"string"}}}},"MatchedServerAppData":{"type":"object","properties":{"forgeAppId":{"type":"string"},"serverAppKey":{"type":"string"}}},"CloudAppsInstalled":{"type":"object","properties":{"cloudAppKeys":{"type":"array","items":{"type":"string"},"uniqueItems":true}}},"Function0Unit":{},"RegisterTransferAnalytics":{"type":"object","properties":{"listenerFamily":{"type":"string"}}},"RegisterTransferRequest":{"type":"object","properties":{"migrationId":{"type":"string","format":"uuid"},"cloudAppKey":{"type":"string"},"accessScopes":{"type":"array","items":{"type":"string","enum":["APP_DATA_UGC","APP_DATA_PII","APP_DATA_SECURITY","APP_DATA_OTHER","PRODUCT_DATA_UGC","PRODUCT_DATA_PII","PRODUCT_DATA_SECURITY","PRODUCT_DATA_OTHER","MIGRATION_TRACING_PRODUCT","MIGRATION_TRACING_IDENTITY"]},"uniqueItems":true},"analytics":{"$ref":"#/components/schemas/RegisterTransferAnalytics"},"enableAcceleratedTransfer":{"type":"boolean"},"tags":{"type":"array","items":{"type":"string"},"uniqueItems":true}}},"CancelTransferRequest":{"type":"object","properties":{"message":{"type":"string"}}},"CancelTransferResponse":{"type":"object","properties":{"transferId":{"type":"string","format":"uuid"},"migrationId":{"type":"string","format":"uuid"},"expireTime":{"type":"string"}}},"RegisterTransferRerunRequest":{"type":"object","properties":{"accessScopes":{"type":"array","items":{"type":"string","enum":["APP_DATA_UGC","APP_DATA_PII","APP_DATA_SECURITY","APP_DATA_OTHER","PRODUCT_DATA_UGC","PRODUCT_DATA_PII","PRODUCT_DATA_SECURITY","PRODUCT_DATA_OTHER","MIGRATION_TRACING_PRODUCT","MIGRATION_TRACING_IDENTITY"]},"uniqueItems":true},"analytics":{"$ref":"#/components/schemas/RegisterTransferAnalytics"},"transferId":{"type":"string","format":"uuid"}}},"RerunTransferResponse":{"type":"object","properties":{"transferId":{"type":"string","format":"uuid"},"originalTransferId":{"type":"string","format":"uuid"},"transferName":{"type":"string"}}},"RegisterMultiTransferRequest":{"type":"object","properties":{"migrationId":{"type":"string","format":"uuid"},"cloudAppKey":{"type":"string"},"transfers":{"type":"array","items":{"$ref":"#/components/schemas/RegisterTransferDefinition"},"uniqueItems":true}}},"RegisterTransferDefinition":{"type":"object","properties":{"accessScopes":{"type":"array","items":{"type":"string","enum":["APP_DATA_UGC","APP_DATA_PII","APP_DATA_SECURITY","APP_DATA_OTHER","PRODUCT_DATA_UGC","PRODUCT_DATA_PII","PRODUCT_DATA_SECURITY","PRODUCT_DATA_OTHER","MIGRATION_TRACING_PRODUCT","MIGRATION_TRACING_IDENTITY"]},"uniqueItems":true},"analytics":{"$ref":"#/components/schemas/RegisterTransferAnalytics"},"enableAcceleratedTransfer":{"type":"boolean"},"tags":{"type":"array","items":{"type":"string"},"uniqueItems":true},"transferName":{"type":"string"},"dependsOn":{"type":"array","items":{"type":"string"},"uniqueItems":true},"blocking":{"type":"boolean"}}},"RegisterForgeTransferRequest":{"type":"object","properties":{"migrationId":{"type":"string","format":"uuid"},"appId":{"type":"string","format":"uuid"},"environmentType":{"type":"string","enum":["DEVELOPMENT","STAGING","PRODUCTION"]},"accessScopes":{"type":"array","items":{"type":"string","enum":["APP_DATA_UGC","APP_DATA_PII","APP_DATA_SECURITY","APP_DATA_OTHER","PRODUCT_DATA_UGC","PRODUCT_DATA_PII","PRODUCT_DATA_SECURITY","PRODUCT_DATA_OTHER","MIGRATION_TRACING_PRODUCT","MIGRATION_TRACING_IDENTITY"]},"uniqueItems":true},"analytics":{"$ref":"#/components/schemas/RegisterTransferAnalytics"},"enableAcceleratedTransfer":{"type":"boolean"},"environmentName":{"type":"string"}}},"RegisterForgeMultiTransferRequest":{"type":"object","properties":{"migrationId":{"type":"string","format":"uuid"},"appId":{"type":"string","format":"uuid"},"environmentName":{"type":"string"},"transfers":{"type":"array","items":{"$ref":"#/components/schemas/RegisterTransferDefinition"},"uniqueItems":true}}},"GetUploadUrlRequest":{"type":"object","properties":{"uploadId":{"type":"string"},"chunkIndex":{"type":"string"},"contentMD5":{"type":"string"},"contentLength":{"type":"string"},"transferId":{"type":"string","format":"uuid"},"firstByte":{"type":"integer","format":"int64"},"lastByte":{"type":"integer","format":"int64"},"contentSHA256":{"type":"string"}}},"Unit":{},"ForgeSqlRequest":{"type":"object","properties":{"items":{"type":"array","items":{"type":"string"}},"tableName":{"type":"string"},"importOnForgeStorage":{"type":"boolean"},"transformers":{"type":"array","items":{"type":"string","enum":["MriIdMapping"]}}}},"OSGetUploadUrlRequest":{"type":"object","properties":{"uploadReference":{"type":"string"},"chunkIndex":{"type":"string"},"chunkFirstByte":{"type":"integer","format":"int64"},"chunkLength":{"type":"string"},"chunkSHA256":{"type":"string"}}},"OSGetUploadUrlResult":{"type":"object","properties":{"url":{"type":"string"},"headers":{"type":"array","items":{"$ref":"#/components/schemas/PairStringString"}},"includeAuthHeaders":{"type":"boolean"},"etag":{"type":"string"}}},"PairStringString":{"type":"object","properties":{"first":{"type":"string"},"second":{"type":"string"}}},"OSInitialiseRequest":{"type":"object","properties":{"objectKey-txfIs0s":{"type":"string"}}},"OSUploadInitialiseResult":{"type":"object","properties":{"uploadReference":{"type":"string"}}},"OSFinaliseUploadPart":{"type":"object","properties":{"chunkNumber":{"type":"integer","format":"int32"},"chunkSHA256":{"type":"string"},"etag":{"type":"string"}}},"OSFinaliseUploadRequest":{"type":"object","properties":{"uploadReference":{"type":"string"},"parts":{"type":"array","items":{"$ref":"#/components/schemas/OSFinaliseUploadPart"},"uniqueItems":true}}},"OSFinaliseUploadResult":{"type":"object","properties":{"success":{"type":"boolean"}}},"ForgeKeyValuePairRequest":{"type":"object","properties":{"items":{"type":"object","additionalProperties":{"type":"string"}},"entityName":{"type":"string"},"importOnForgeStorage":{"type":"boolean"},"transformers":{"type":"array","items":{"type":"string","enum":["MriIdMapping"]}}}},"EntityProperty":{"type":"object","properties":{"entityId":{"type":"string"},"key":{"type":"string"},"value":{"type":"string"},"entityType":{"type":"string"}}},"EntityPropertyRequest":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/EntityProperty"}},"transformers":{"type":"array","items":{"type":"string","enum":["MriIdMapping"]}}}},"GetPreloadDataUploadUrlRequest":{"type":"object","properties":{"uploadId":{"type":"string"},"chunkIndex":{"type":"string"},"contentLength":{"type":"string"},"transferId":{"type":"string","format":"uuid"},"contentSHA256":{"type":"string"}}},"FinalizePreloadEventRequest":{"type":"object","properties":{"migrationId":{"type":"string","format":"uuid"},"preloadTransferId":{"type":"string","format":"uuid"}}},"FinalizePreloadDataUploadRequest":{"type":"object","properties":{"uploadId":{"type":"string"},"transferId":{"type":"string","format":"uuid"},"sha256CheckSumValues":{"type":"array","items":{"type":"string"}},"etags":{"type":"array","items":{"type":"string"}}}},"MessageProgress":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAILED"]},"messageIds":{"type":"array","items":{"type":"string","format":"uuid"},"uniqueItems":true}}},"ForgeAppLog":{"type":"object","properties":{"message":{"type":"string"}}},"TransferError":{"type":"object","properties":{"exceptionType":{"type":"string"},"safeStackTrace":{"type":"string"}}},"SiteAppsLicenseRequest":{"type":"object","properties":{"appKeys":{"type":"array","items":{"type":"string"},"uniqueItems":true}}},"AppLicenseDetailDto":{"type":"object","properties":{"appKey":{"type":"string"},"licensed":{"type":"boolean"}}},"AppsLicenseResponseDto":{"type":"object","properties":{"appLicenses":{"type":"array","items":{"$ref":"#/components/schemas/AppLicenseDetailDto"},"uniqueItems":true}}},"WebhookCheckRequestDto":{"type":"object","properties":{"appKeys":{"type":"array","items":{"type":"string"},"uniqueItems":true},"product":{"type":"string"},"hosting":{"type":"string"}}},"AppWebhookCheckResult":{"type":"object","properties":{"appKey":{"type":"string"},"available":{"type":"boolean"}}},"WebhookResponseDto":{"type":"object","properties":{"appEndpoints":{"type":"array","items":{"$ref":"#/components/schemas/AppWebhookCheckResult"},"uniqueItems":true},"stepsToResolve":{"type":"string"}}},"ProgressEndpointDto":{"type":"object","properties":{"percent":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["READY","IN_PROGRESS","SUCCESS","FAILED","SKIPPED","TIMED_OUT","INCOMPLETE","CANCELLATION_REQUESTED","CANCELLED"]},"message":{"type":"string"}}},"CloudFeedback":{"type":"object","properties":{"details":{"type":"object","additionalProperties":{}}}},"ExtendTransferLifetimeRequest":{"type":"object","properties":{"extendToEpochSecond":{"type":"integer","format":"int64"}}},"ResumedEventsDto":{"type":"object","properties":{"transferId":{"type":"string","format":"uuid"},"eventsReplayed":{"type":"integer","format":"int32"}}},"UploadPartCopyRequest":{},"UploadPartPresignRequest":{},"PutObjectPresignRequest":{},"CreateMultipartUploadRequest":{},"CompleteMultipartUploadRequest":{},"AdminEntityPropertyRequest":{"type":"object","properties":{"entityId":{"type":"string"},"key":{"type":"string"},"value":{"type":"string"},"entityType":{"type":"string"},"transformers":{"type":"array","items":{"type":"string","enum":["MriIdMapping"]}}}},"ForgeEventDto":{"type":"object","properties":{"eventType":{"type":"string","enum":["LISTENER_TRIGGERED","APP_DATA_UPLOADED","KEY_VALUE_PAIR_UPLOADED","SQL_UPLOADED","OS_UPLOADED","ENTITY_PROPERTIES_UPLOADED","APP_DATA_PRELOADED","TRANSFER_CANCELLATION_REQUESTED","LISTENER_ERRORED","EXPORT_PHASE_COMPLETED","TRANSFER_SETTLED","MUTATION_CREATED"]},"transferId":{"type":"string","format":"uuid"},"migrationDetails":{"$ref":"#/components/schemas/ForgeMigrationDetails"},"key":{"type":"string"},"label":{"type":"string"},"messageId":{"type":"string","format":"uuid"},"transferStatus":{"type":"string","enum":["READY","IN_PROGRESS","SUCCESS","FAILED","SKIPPED","TIMED_OUT","INCOMPLETE","CANCELLATION_REQUESTED","CANCELLED"]},"transferError":{"$ref":"#/components/schemas/TransferError"},"transferName":{"type":"string"},"items":{"type":"object","additionalProperties":{"type":"string"}},"entityProperties":{"type":"array","items":{"$ref":"#/components/schemas/EntityProperty"}}}},"ForgeMigrationDetails":{"type":"object","properties":{"migrationId":{"type":"string","format":"uuid"},"migrationScopeId":{"type":"string","format":"uuid"},"createdAt":{"type":"integer","format":"int64"},"cloudUrl":{"type":"string"},"name":{"type":"string"}}},"PathfinderIdResponse":{"type":"object","properties":{"pathfinderId":{"type":"string"}}},"FileMetadataDto":{"type":"object","properties":{"s3Key":{"type":"string","description":"The unique file key used to retrieve the file"},"label":{"type":"string","description":"Optional label assigned to the file during upload"},"fileSize":{"type":"integer","format":"int64","description":"Size of the file in bytes"}}},"FileMetadataDtoPage":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/FileMetadataDto"}},"lastEvaluatedKey":{"type":"string"}}},"ForgeFileMetadataDto":{"type":"object","properties":{"key":{"type":"string","description":"The unique file key used to retrieve the file"},"label":{"type":"string","description":"Optional label assigned to the file during upload"},"fileSize":{"type":"integer","format":"int64","description":"Size of the file in bytes"}}},"ForgeFileMetadataDtoPage":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/ForgeFileMetadataDto"}},"lastEvaluatedKey":{"type":"string"}}},"DownloadUrlResponse":{"type":"object","properties":{"url":{"type":"string","format":"url"}}},"ContainerFileMetadataDto":{"type":"object","properties":{"containerId":{"type":"string","format":"uuid"},"fileCount":{"type":"integer","format":"int32"},"totalFileSize":{"type":"integer","format":"int64"}}},"TransferForPlatform":{"type":"object","properties":{"creator":{"type":"string"},"cloudId":{"type":"string"},"cloudAppKey":{"type":"string"},"migrationScope":{"type":"string","format":"uuid"}}},"TransferStartStatusResponse":{"type":"object","properties":{"dependencyStatus":{"type":"string","enum":["RUNNING","FINISHED","FAILED"]},"transferSettled":{"type":"boolean"}}},"StreamingResponseBody":{},"TransferLogEnablement":{"type":"object","properties":{"enabled":{"type":"boolean"},"blockers":{"type":"array","items":{"type":"string"}}}},"EnrichedMigrationDetailsDtoV1":{"type":"object","properties":{"migrationId":{"type":"string"},"migrationScopeId":{"type":"string"},"name":{"type":"string"},"createdAt":{"type":"integer","format":"int64"},"jiraClientKey":{"type":"string"},"confluenceClientKey":{"type":"string"},"cloudUrl":{"type":"string"},"enabledFeatures":{"type":"array","items":{"type":"string"},"uniqueItems":true},"product":{"type":"string","enum":["JIRA","CONFLUENCE"]}}},"TransferDetailsDto":{"type":"object","properties":{"transferId":{"type":"string","format":"uuid"},"containerId":{"type":"string"},"cloudAppKey":{"type":"string"},"tags":{"type":"array","items":{"type":"string"},"uniqueItems":true},"name":{"type":"string"},"blocking":{"type":"boolean"},"migrationDetails":{"$ref":"#/components/schemas/EnrichedMigrationDetailsDtoV1"}}},"RerunEnablement":{"type":"object","properties":{"enabled":{"type":"boolean"},"blockers":{"type":"array","items":{"type":"string"}}}},"AppProgress":{"type":"object","properties":{"containerId":{"type":"string","format":"uuid"},"serverAppName":{"type":"string"},"serverAppKey":{"type":"string"},"cloudAppKey":{"type":"string"},"completionPercent":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["READY","IN_PROGRESS","SUCCESS","FAILED","SKIPPED","TIMED_OUT","INCOMPLETE","CANCELLATION_REQUESTED","CANCELLED"]},"statusMessage":{"type":"string"},"lastUpdatedAt":{"type":"integer","format":"int64"},"contactVendorUrl":{"type":"string"},"appVendorName":{"type":"string"},"notCancellableTooltip":{"type":"string"},"multiTransfers":{"type":"array","items":{"$ref":"#/components/schemas/MultiTransfer"}},"readyToUse":{"type":"boolean"},"cancellable":{"type":"boolean"}}},"AppProgressResponse":{"type":"object","properties":{"progress":{"type":"array","items":{"$ref":"#/components/schemas/AppProgress"}}}},"MultiTransfer":{"type":"object","properties":{"transferId":{"type":"string","format":"uuid"},"transferName":{"type":"string"},"completionPercent":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["READY","IN_PROGRESS","SUCCESS","FAILED","SKIPPED","TIMED_OUT","INCOMPLETE","CANCELLATION_REQUESTED","CANCELLED"]},"statusMessage":{"type":"string"},"lastUpdatedAt":{"type":"integer","format":"int64"},"notCancellableTooltip":{"type":"string"},"cancellable":{"type":"boolean"}}},"MigrationMappingDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/MigrationMappingMeta"},"items":{"type":"object","additionalProperties":{"type":"string"}}}},"MigrationMappingMeta":{"type":"object","properties":{"pageSize":{"type":"integer","format":"int32"},"hasNext":{"type":"boolean"},"lastEntity":{"type":"string"}}},"ForgeWorkflowRuleKeyPrefixResponse":{"type":"object","properties":{"keyPrefix":{"type":"string"}}},"ForgeMacroKeyPrefixResponse":{"type":"object","properties":{"macroKeyPrefix":{"type":"string"}}},"ForgeCFTypeKeyPrefixResponse":{"type":"object","properties":{"typeKeyPrefix":{"type":"string"}}},"ForgeFileMappingDto":{"type":"object","properties":{"key":{"type":"string"},"label":{"type":"string"}}},"ContainerByPageResponse":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ContainerResponseMeta"},"containers":{"type":"array","items":{"$ref":"#/components/schemas/ContainerV1"}}}},"ContainerResponseMeta":{"type":"object","properties":{"pageSize":{"type":"integer","format":"int32"},"hasNext":{"type":"boolean"},"lastEntity":{"type":"string"}}},"ContainerV1":{"type":"object","properties":{"type":{"type":"string"},"transfers":{"type":"array","items":{"$ref":"#/components/schemas/PlatformTransfer"}}}},"PlatformTransfer":{"type":"object","properties":{"transferId":{"type":"string"},"operationKey":{"type":"string"},"status":{"type":"string","enum":["READY","IN_PROGRESS","CANCELLING","SUCCESS","FAILED","INCOMPLETE","SKIPPED","TIMED_OUT","CANCELLED"]},"statusMessage":{"type":"string"},"progressPercentage":{"type":"integer","format":"int32"},"progressMessage":{"type":"string"},"progressProperties":{"type":"object","additionalProperties":{}},"lastUpdatedAt":{"type":"string","format":"date-time"}}},"TransferMetadata":{"type":"object","properties":{"transferId":{"type":"string","format":"uuid"},"migrationDetails":{"$ref":"#/components/schemas/EnrichedMigrationDetailsDtoV1"},"status":{"type":"string","enum":["READY","IN_PROGRESS","SUCCESS","FAILED","SKIPPED","TIMED_OUT","INCOMPLETE","CANCELLATION_REQUESTED","CANCELLED"]}}},"FileMappingDto":{"type":"object","properties":{"label":{"type":"string"}}},"TransferSummary":{"type":"object","properties":{"transferId":{"type":"string"},"migrationId":{"type":"string"},"appKey":{"type":"string"},"creationTime":{"type":"string"},"progress":{"type":"integer","format":"int32"},"status":{"type":"string"},"endpoints":{"$ref":"#/components/schemas/WebhookEndpointsDto"},"files":{"type":"object","additionalProperties":{"type":"integer","format":"int64"}}}},"TransferEvent":{"type":"object","properties":{"eventId":{"type":"string"},"eventTime":{"type":"integer","format":"int64"},"details":{"type":"string"},"type":{"type":"string"},"eventTimeISO":{"type":"string"}}},"LogMessage":{"type":"object","properties":{"level":{"type":"string","enum":["WARN","INFO"]},"eventTime":{"type":"integer","format":"int64"},"message":{"type":"string"},"eventTimeISO":{"type":"string"}}},"UnifiedEventAndLogsResponse":{"type":"object","properties":{"logs":{"type":"array","items":{"$ref":"#/components/schemas/LogMessage"}},"events":{"type":"array","items":{"$ref":"#/components/schemas/TransferEvent"}}}},"MauiTransferDto":{"type":"object","properties":{"transferId":{"type":"string"},"containerId":{"type":"string"},"migrationId":{"type":"string"},"progressPercentage":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["READY","IN_PROGRESS","SUCCESS","FAILED","SKIPPED","TIMED_OUT","INCOMPLETE","CANCELLATION_REQUESTED","CANCELLED"]},"statusMessage":{"type":"string"},"rerun":{"type":"boolean"},"lastUpdatedAt":{"type":"integer","format":"int64"},"expiryTimeEpoch":{"type":"integer","format":"int64"},"createdAt":{"type":"integer","format":"int64"},"operationKey":{"type":"string"},"startedAt":{"type":"integer","format":"int64"},"cancellationByEpoch":{"type":"integer","format":"int64"}}},"PausedTransferDto":{"type":"object","properties":{"transferId":{"type":"string","format":"uuid"},"cloudId":{"type":"string"},"cloudAppKey":{"type":"string"},"cloudUrl":{"type":"string"},"product":{"type":"string"}}},"PausedTransferQueryResponse":{"type":"object","properties":{"transfers":{"type":"array","items":{"$ref":"#/components/schemas/PausedTransferDto"}}}},"CheckupResult":{"type":"object","properties":{"tcsDetails":{"$ref":"#/components/schemas/ProductDetail"},"confluenceClientKey":{"type":"string"},"jiraClientKey":{"type":"string"},"webhooks":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"},"uniqueItems":true}}}},"ProductDetail":{"type":"object","properties":{"restricted":{"type":"boolean"},"restrictedReasons":{"type":"array","items":{"type":"string"}},"apps":{"type":"array","items":{"type":"string"}},"workspaceId":{"type":"string"}}}}}}