{
  "swagger": "2.0",
  "info": {
    "title": "REST Resources Provided By: Bitbucket Server - REST",
    "version": ""
  },
  "host": "bitbucket.apps.seibert-media.net",
  "basePath": "/rest/api/1.0/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/admin/banner": {
      "parameters": [],
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Deletes a banner, if one is present in the database.",
        "operationId": "deleteBanner"
      },
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Gets the announcement banner, if one exists and is available to the user",
        "operationId": "getBanner",
        "parameters": [
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ]
      },
      "put": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Sets the announcement banner with the provided JSON.\n Only users authenticated as Admins may call this resource",
        "operationId": "setBanner"
      }
    },
    "/admin/cluster": {
      "parameters": [],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Gets information about the nodes that currently make up the stash cluster.\n <p>\n The authenticated user must have the <strong>SYS_ADMIN</strong> permission to call this resource.",
        "operationId": "getInformation",
        "parameters": [
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ]
      }
    },
    "/admin/default-branch": {
      "parameters": [],
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Clears the global default branch, which is used when creating new repositories if an explicit default\n branch is not specified, if one has been configured.\n <p>\n The authenticated user must have <strong>ADMIN</strong> permission to call this resource.",
        "operationId": "clearDefaultBranch"
      },
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieves the configured global default branch, which is used when creating new repositories if an explicit\n default branch is not specified.\n <p>\n The user must be authenticated to call this resource.",
        "operationId": "getDefaultBranch",
        "parameters": [
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ]
      },
      "put": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Configures the global default branch, which is used when creating new repositories if an explicit default\n branch is not specified.\n <p>\n The authenticated user must have <strong>ADMIN</strong> permission to call this resource.",
        "operationId": "setDefaultBranch"
      }
    },
    "/admin/groups": {
      "parameters": [],
      "delete": {
        "parameters": [
          {
            "description": "the name identifying the group to delete",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Deletes the specified group, removing them from the system. This also removes any permissions that may have been\n granted to the group.\n <p>\n A user may not delete the last group that is granting them administrative permissions, or a group with greater\n permissions than themselves.\n <p>\n The authenticated user must have the <strong>ADMIN</strong> permission to call this resource.",
        "operationId": "deleteGroup"
      },
      "get": {
        "parameters": [
          {
            "description": "if specified only group names containing the supplied string will be returned",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieve a page of groups.\n <p>\n The authenticated user must have <strong>LICENSED_USER</strong> permission or higher to call this resource.",
        "operationId": "getGroups"
      },
      "post": {
        "parameters": [
          {
            "description": "Name of the group.",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Create a new group.\n <p>\n The authenticated user must have <strong>ADMIN</strong> permission or higher to call this resource.",
        "operationId": "createGroup"
      }
    },
    "/admin/groups/add-user": {
      "parameters": [],
      "post": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "<strong>Deprecated since 2.10</strong>. Use /rest/users/add-groups instead.\n <p>\n Add a user to a group.\n <p>\n In the request entity, the <em>context</em> attribute is the group and the <em>itemName</em> is the user.\n <p>\n The authenticated user must have the <strong>ADMIN</strong> permission to call this resource.",
        "operationId": "addUserToGroup"
      }
    },
    "/admin/groups/add-users": {
      "parameters": [],
      "post": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Add multiple users to a group.\n <p>\n The authenticated user must have the <strong>ADMIN</strong> permission to call this resource.",
        "operationId": "addUsersToGroup"
      }
    },
    "/admin/groups/more-members": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "the group which should be used to locate members",
            "in": "query",
            "name": "context",
            "required": false,
            "type": "string"
          },
          {
            "default": "",
            "description": "if specified only users with usernames, display names or email addresses containing the\n                  supplied string will be returned",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieves a list of users that are members of a specified group.\n <p>\n The authenticated user must have the <strong>LICENSED_USER</strong> permission to call this resource.",
        "operationId": "findUsersInGroup"
      }
    },
    "/admin/groups/more-non-members": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "the group which should be used to locate non-members",
            "in": "query",
            "name": "context",
            "required": false,
            "type": "string"
          },
          {
            "default": "",
            "description": "if specified only users with usernames, display names or email addresses containing the\n                  supplied string will be returned",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieves a list of users that are <em>not</em> members of a specified group.\n <p>\n The authenticated user must have the <strong>LICENSED_USER</strong> permission to call this resource.",
        "operationId": "findUsersNotInGroup"
      }
    },
    "/admin/groups/remove-user": {
      "parameters": [],
      "post": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "<strong>Deprecated since 2.10</strong>. Use /rest/users/remove-groups instead.\n <p>\n Remove a user from a group.\n <p>\n The authenticated user must have the <strong>ADMIN</strong> permission to call this resource.\n <p>\n In the request entity, the <em>context</em> attribute is the group and the <em>itemName</em> is the user.",
        "operationId": "removeUserFromGroup"
      }
    },
    "/admin/license": {
      "parameters": [],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieves details about the current license, as well as the current status of the system with regards to the\n installed license. The status includes the current number of users applied toward the license limit, as well\n as any status messages about the license (warnings about expiry or user counts exceeding license limits).\n <p>\n The authenticated user must have <b>ADMIN</b> permission. Unauthenticated users, and non-administrators, are\n not permitted to access license details.",
        "operationId": "get",
        "parameters": [
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ]
      },
      "post": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Decodes the provided encoded license and sets it as the active license. If no license was provided, a 400 is\n returned. If the license cannot be decoded, or cannot be applied, a 409 is returned. Some possible reasons a\n license may not be applied include:\n <ul>\n     <li>It is for a different product</li>\n     <li>It is already expired</li>\n </ul>\n Otherwise, if the license is updated successfully, details for the new license are returned with a 200 response.\n <p>\n <b>Warning</b>: It is possible to downgrade the license during update, applying a license with a lower number\n of permitted users. If the number of currently-licensed users exceeds the limits of the new license, pushing\n will be disabled until the licensed user count is brought into compliance with the new license.\n <p>\n The authenticated user must have <b>SYS_ADMIN</b> permission. <b>ADMIN</b> users may <i>view</i> the current\n license details, but they may not <i>update</i> the license.",
        "operationId": "update"
      }
    },
    "/admin/mail-server": {
      "parameters": [],
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Deletes the current mail configuration.\n <p>\n The authenticated user must have the <strong>SYS_ADMIN</strong> permission to call this resource.",
        "operationId": "deleteMailConfig"
      },
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieves the current mail configuration.\n\n The authenticated user must have the <strong>SYS_ADMIN</strong> permission to call this resource.",
        "operationId": "getMailConfig",
        "parameters": [
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ]
      },
      "put": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Updates the mail configuration\n\n The authenticated user must have the <strong>SYS_ADMIN</strong> permission to call this resource.",
        "operationId": "setMailConfig"
      }
    },
    "/admin/mail-server/sender-address": {
      "parameters": [],
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Clears the server email address.\n <p>\n The authenticated user must have the <strong>ADMIN</strong> permission to call this resource.",
        "operationId": "clearSenderAddress"
      },
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieves the server email address",
        "operationId": "getSenderAddress",
        "parameters": [
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ]
      },
      "put": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Updates the server email address\n\n The authenticated user must have the <strong>ADMIN</strong> permission to call this resource.",
        "operationId": "setSenderAddress"
      }
    },
    "/admin/permissions/groups": {
      "parameters": [],
      "delete": {
        "parameters": [
          {
            "description": "the name of the group",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Revoke all global permissions for a group.\n\n <p>\n The authenticated user must have:\n <ul>\n     <li><strong>ADMIN</strong> permission or higher; and</li>\n     <li>greater or equal permissions than the current permission level of the group (a user may not demote the\n     permission level of a group with higher permissions than them)</li>\n </ul>\n to call this resource. In addition, a user may not revoke a group's permissions if their own permission level\n would be reduced as a result.",
        "operationId": "revokePermissionsForGroup"
      },
      "get": {
        "parameters": [
          {
            "default": "",
            "description": "if specified only group names containing the supplied string will be returned",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieve a page of groups that have been granted at least one global permission.\n <p>\n The authenticated user must have <strong>ADMIN</strong> permission or higher to call this resource.",
        "operationId": "getGroupsWithAnyPermission"
      },
      "put": {
        "parameters": [
          {
            "description": "the permission to grant",
            "in": "query",
            "name": "permission",
            "required": false,
            "type": "string"
          },
          {
            "description": "the names of the groups",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Promote or demote a user's global permission level. Available global permissions are:\n <ul>\n     <li>LICENSED_USER</li>\n     <li>PROJECT_CREATE</li>\n     <li>ADMIN</li>\n     <li>SYS_ADMIN</li>\n </ul>\n See the <a href=\"https://confluence.atlassian.com/display/BitbucketServer/Global+permissions\">Bitbucket Server\n documentation</a> for a detailed explanation of what each permission entails.\n <p>\n The authenticated user must have:\n <ul>\n     <li><strong>ADMIN</strong> permission or higher; and</li>\n     <li>the permission they are attempting to grant or higher; and</li>\n     <li>greater or equal permissions than the current permission level of the group (a user may not demote the\n     permission level of a group with higher permissions than them)</li>\n </ul>\n to call this resource. In addition, a user may not demote a group's permission level if their own permission\n level would be reduced as a result.",
        "operationId": "setPermissionForGroups"
      }
    },
    "/admin/permissions/groups/none": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "default": "",
            "description": "if specified only group names containing the supplied string will be returned",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieve a page of groups that have no granted global permissions.\n <p>\n The authenticated user must have <strong>ADMIN</strong> permission or higher to call this resource.",
        "operationId": "getGroupsWithoutAnyPermission"
      }
    },
    "/admin/permissions/users": {
      "parameters": [],
      "delete": {
        "parameters": [
          {
            "description": "the name of the user",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Revoke all global permissions for a user.\n <p>\n The authenticated user must have:\n <ul>\n     <li><strong>ADMIN</strong> permission or higher; and</li>\n     <li>greater or equal permissions than the current permission level of the user (a user may not demote the\n     permission level of a user with higher permissions than them)</li>\n </ul>\n to call this resource. In addition, a user may not demote their own permission level.",
        "operationId": "revokePermissionsForUser"
      },
      "get": {
        "parameters": [
          {
            "default": "",
            "description": "if specified only user names containing the supplied string will be returned",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieve a page of users that have been granted at least one global permission.\n <p>\n The authenticated user must have <strong>ADMIN</strong> permission or higher to call this resource.",
        "operationId": "getUsersWithAnyPermission"
      },
      "put": {
        "parameters": [
          {
            "description": "the names of the users",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          },
          {
            "description": "the permission to grant",
            "in": "query",
            "name": "permission",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Promote or demote the global permission level of a user. Available global permissions are:\n <ul>\n     <li>LICENSED_USER</li>\n     <li>PROJECT_CREATE</li>\n     <li>ADMIN</li>\n     <li>SYS_ADMIN</li>\n </ul>\n See the <a href=\"https://confluence.atlassian.com/display/BitbucketServer/Global+permissions\">Bitbucket Server\n documentation</a> for a detailed explanation of what each permission entails.\n <p>\n The authenticated user must have:\n <ul>\n     <li><strong>ADMIN</strong> permission or higher; and</li>\n     <li>the permission they are attempting to grant; and</li>\n     <li>greater or equal permissions than the current permission level of the user (a user may not demote the\n     permission level of a user with higher permissions than them)</li>\n </ul>\n to call this resource. In addition, a user may not demote their own permission level.",
        "operationId": "setPermissionForUsers"
      }
    },
    "/admin/permissions/users/none": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "default": "",
            "description": "if specified only user names containing the supplied string will be returned",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieve a page of users that have no granted global permissions.\n <p>\n The authenticated user must have <strong>ADMIN</strong> permission or higher to call this resource.",
        "operationId": "getUsersWithoutAnyPermission"
      }
    },
    "/admin/pull-requests/{scmId}": {
      "parameters": [
        {
          "description": "the id of the scm to get strategies for",
          "in": "path",
          "name": "scmId",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieve the merge strategies available for this instance.\n <p>\n The user must be authenticated to call this resource.",
        "operationId": "getMergeConfig",
        "parameters": [
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ]
      },
      "post": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Update the pull request merge strategies for the context repository.\n <p>\n The authenticated user must have <strong>ADMIN</strong> permission to call this resource.\n <p>\n Only the strategies provided will be enabled, only one may be set to default\n <p>\n An explicitly set pull request merge strategy configuration can be deleted by POSTing a document with\n an empty \"mergeConfig\" attribute. i.e:\n <pre>\n {\n     \"mergeConfig\": {\n     }\n }\n </pre>\n Upon completion of this request, the effective configuration will be the default configuration.",
        "operationId": "setMergeConfig"
      }
    },
    "/admin/rate-limit/history": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "an optional sort category to arrange the results in descending order by either\n                    {@link AggregateRejectCounterOrder#NEWEST} or\n                    {@link AggregateRejectCounterOrder#FREQUENCY}",
            "in": "query",
            "name": "order",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieves the recent rate limit history for the instance.\n <p>\n The authenticated user must have the <strong>ADMIN</strong> permission to call this resource.",
        "operationId": "getHistory"
      }
    },
    "/admin/rate-limit/settings": {
      "parameters": [],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieves the rate limit settings for the instance.\n <p>\n The user must be authenticated to call this resource.",
        "operationId": "getSettings",
        "parameters": [
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ]
      },
      "put": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Sets the rate limit settings for the instance.\n <p>\n The authenticated user must have <strong>ADMIN</strong> permission to call this resource.",
        "operationId": "setSettings"
      }
    },
    "/admin/rate-limit/settings/users": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieves the user-specific rate limit settings for the given user.\n <p>\n The authenticated user must have <strong>ADMIN</strong> permission to call this resource.",
        "operationId": "getAll"
      },
      "post": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Sets the given rate limit settings for the given user.\n <p>\n The authenticated user must have <strong>ADMIN</strong> permission to call this resource.",
        "operationId": "set"
      }
    },
    "/admin/rate-limit/settings/users/{userSlug}": {
      "parameters": [
        {
          "type": "string",
          "name": "userSlug",
          "in": "path",
          "required": true
        }
      ],
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Deletes the user-specific rate limit settings for the given user.\n <p>\n The authenticated user must have <strong>ADMIN</strong> permission to call this resource.",
        "operationId": "delete"
      },
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieves the user-specific rate limit settings for the given user.\n <p>\n To call this resource, the user must be authenticated and either have <strong>ADMIN</strong> permission or be the\n same user as the one whose settings are requested. A user with <strong>ADMIN</strong> permission cannot get the\n settings of a user with <strong>SYS_ADMIN</strong> permission.",
        "operationId": "get",
        "parameters": [
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ]
      },
      "put": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Sets the given rate limit settings for the given user.\n <p>\n The authenticated user must have <strong>ADMIN</strong> permission to call this resource.",
        "operationId": "set"
      }
    },
    "/admin/users": {
      "parameters": [],
      "delete": {
        "parameters": [
          {
            "description": "the username identifying the user to delete",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Deletes the specified user, removing them from the system. This also removes any permissions that may have been\n granted to the user.\n <p>\n A user may not delete themselves, and a user with <strong>ADMIN</strong> permissions may not delete a user with\n <strong>SYS_ADMIN</strong>permissions.\n <p>\n The authenticated user must have the <strong>ADMIN</strong> permission to call this resource.",
        "operationId": "deleteUser"
      },
      "get": {
        "parameters": [
          {
            "description": "if specified only users with usernames, display name or email addresses containing the supplied\n               string will be returned",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieve a page of users.\n <p>\n The authenticated user must have the <strong>LICENSED_USER</strong> permission to call this resource.",
        "operationId": "getUsers"
      },
      "post": {
        "parameters": [
          {
            "description": "the username for the new user",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          },
          {
            "description": "the password for the new user",
            "in": "query",
            "name": "password",
            "required": false,
            "type": "string"
          },
          {
            "description": "the display name for the new user",
            "in": "query",
            "name": "displayName",
            "required": false,
            "type": "string"
          },
          {
            "description": "the e-mail address for the new user",
            "in": "query",
            "name": "emailAddress",
            "required": false,
            "type": "string"
          },
          {
            "default": true,
            "description": "<code>true</code> to add the user to the default group, which can be used to grant them\n                          a set of initial permissions; otherwise, <code>false</code> to not add them to a group",
            "in": "query",
            "name": "addToDefaultGroup",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "if present and not <code>false</code> instead of requiring a password,\n                          the create user will be notified via email their account has been created and requires\n                          a password to be reset. This option can only be used if a mail server has been configured",
            "in": "query",
            "name": "notify",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Creates a new user from the assembled query parameters.\n <p>\n The default group can be used to control initial permissions for new users, such as granting users the ability\n to login or providing read access to certain projects or repositories. If the user is not added to the default\n group, they may not be able to login after their account is created until explicit permissions are configured.\n <p>\n The authenticated user must have the <strong>ADMIN</strong> permission to call this resource.",
        "operationId": "createUser"
      },
      "put": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Update a user's details.\n <p>\n The authenticated user must have the <strong>ADMIN</strong> permission to call this resource.",
        "operationId": "updateUserDetails"
      }
    },
    "/admin/users/add-group": {
      "parameters": [],
      "post": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "<strong>Deprecated since 2.10</strong>. Use /rest/users/add-groups instead.\n <p>\n Add a user to a group. This is very similar to <code>groups/add-user</code>, but with the <em>context</em> and\n <em>itemName</em> attributes of the supplied request entity reversed. On the face of it this may appear\n redundant, but it facilitates a specific UI component in Stash.\n <p>\n In the request entity, the <em>context</em> attribute is the user and the <em>itemName</em> is the group.\n <p>\n The authenticated user must have the <strong>ADMIN</strong> permission to call this resource.",
        "operationId": "addGroupToUser"
      }
    },
    "/admin/users/add-groups": {
      "parameters": [],
      "post": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Add a user to one or more groups.\n <p>\n The authenticated user must have the <strong>ADMIN</strong> permission to call this resource.",
        "operationId": "addUserToGroups"
      }
    },
    "/admin/users/captcha": {
      "parameters": [],
      "delete": {
        "parameters": [
          {
            "description": "the username",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Clears any CAPTCHA challenge that may constrain the user with the supplied username when they authenticate.\n Additionally any counter or metric that contributed towards the user being issued the CAPTCHA challenge\n (for instance too many consecutive failed logins) will also be reset.\n <p>\n The authenticated user must have the <strong>ADMIN</strong> permission to call this resource, and may not clear\n the CAPTCHA of a user with greater permissions than themselves.",
        "operationId": "clearUserCaptchaChallenge"
      }
    },
    "/admin/users/credentials": {
      "parameters": [],
      "put": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Update a user's password.\n <p>\n The authenticated user must have the <strong>ADMIN</strong> permission to call this resource, and may not update\n the password of a user with greater permissions than themselves.",
        "operationId": "updateUserPassword"
      }
    },
    "/admin/users/erasure": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "the username of the user to validate erasability for.",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Validate if a user can be erased.\n <p>\n A username is only valid for erasure if it exists as the username of a deleted user. This endpoint will return\n an appropriate error response if the supplied username is invalid for erasure.\n <p>\n This endpoint does <strong>not</strong> perform the actual user erasure, and will not modify the application in\n any way.\n <p>\n The authenticated user must have the <strong>ADMIN</strong> permission to call this resource.",
        "operationId": "validateErasable"
      },
      "post": {
        "parameters": [
          {
            "description": "the username identifying the user to erase",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Erases personally identifying user data for a deleted user.\n <p>\n References in the application to the original username will be either removed or updated to a new non-identifying\n username. Refer to the\n <a href=\"https://confluence.atlassian.com/gdpr/bitbucket-right-to-erasure-949770560.html\">support guide</a> for\n details about what data is and isn't erased.\n <p>\n User erasure can only be performed on a deleted user. If the user has not been deleted first then this endpoint\n will return a bad request and no erasure will be performed.\n <p>\n Erasing user data is <strong>irreversible</strong> and may lead to a degraded user experience. This method should\n not be used as part of a standard user deletion and cleanup process.\n <p>\n Plugins can participate in user erasure by defining a {@code &lt;user-erasure-handler&gt;} module. If one or more plugin\n modules fail, an error summary of the failing modules is returned.\n <p>\n The authenticated user must have the <strong>ADMIN</strong> permission to call this resource.",
        "operationId": "eraseUser"
      }
    },
    "/admin/users/more-members": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "the user which should be used to locate groups",
            "in": "query",
            "name": "context",
            "required": false,
            "type": "string"
          },
          {
            "default": "",
            "description": "if specified only groups with names containing the supplied string will be returned",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieves a list of groups the specified user is a member of.\n <p>\n The authenticated user must have the <strong>LICENSED_USER</strong> permission to call this resource.",
        "operationId": "findGroupsForUser"
      }
    },
    "/admin/users/more-non-members": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "the user which should be used to locate groups",
            "in": "query",
            "name": "context",
            "required": false,
            "type": "string"
          },
          {
            "default": "",
            "description": "if specified only groups with names containing the supplied string will be returned",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieves a list of groups the specified user is <em>not</em> a member of.\n <p>\n The authenticated user must have the <strong>LICENSED_USER</strong> permission to call this resource.",
        "operationId": "findOtherGroupsForUser"
      }
    },
    "/admin/users/remove-group": {
      "parameters": [],
      "post": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Remove a user from a group. This is very similar to <code>groups/remove-user</code>, but with the <em>context</em>\n and <em>itemName</em> attributes of the supplied request entity reversed. On the face of it this may appear\n redundant, but it facilitates a specific UI component in Stash.\n <p>\n In the request entity, the <em>context</em> attribute is the user and the <em>itemName</em> is the group.\n <p>\n The authenticated user must have the <strong>ADMIN</strong> permission to call this resource.",
        "operationId": "removeGroupFromUser"
      }
    },
    "/admin/users/rename": {
      "parameters": [],
      "post": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Rename a user.\n <p>\n The authenticated user must have the <strong>ADMIN</strong> permission to call this resource.",
        "operationId": "renameUser"
      }
    },
    "/application-properties": {
      "parameters": [],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieve version information and other application properties.\n <p>\n No authentication is required to call this resource.",
        "operationId": "getApplicationProperties",
        "parameters": [
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ]
      }
    },
    "/build/capabilities": {
      "parameters": [],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Returns the build capabilities of this instance",
        "operationId": "getCapabilities",
        "parameters": [
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ]
      }
    },
    "/dashboard/pull-request-suggestions": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "default": "172800",
            "description": "restrict pull request suggestions to be based on events that occurred since some time\n                     in the past. This is expressed in seconds since \"now\". So to return suggestions\n                     based only on activity within the past 48 hours, pass a value of 172800.",
            "in": "query",
            "name": "changesSince",
            "required": false,
            "type": "string"
          },
          {
            "default": 3,
            "description": "restricts the result set to return at most this many suggestions.",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieves a page of suggestions for pull requests that the currently authenticated user may wish to\n raise. Such suggestions are based on ref changes occurring and so contain the ref change that\n prompted the suggestion plus the time the change event occurred. Changes will be returned in\n descending order based on the time the change that prompted the suggestion occurred.\n <p>\n Note that although the response is a page object, the interface does not support paging, however\n a limit can be applied to the size of the returned page.",
        "operationId": "getPullRequestSuggestions"
      }
    },
    "/dashboard/pull-requests": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "(optional, defaults to returning pull requests in any state). If a state is supplied only pull\n              requests in the specified state will be returned. Either <strong>OPEN</strong>,\n              <strong>DECLINED</strong> or <strong>MERGED</strong>.\n              Omit this parameter to return pull request in any state.",
            "in": "query",
            "name": "state",
            "required": false,
            "type": "string"
          },
          {
            "description": "(optional, defaults to returning pull requests for any role). If a role is supplied only pull\n              requests where the authenticated user is a participant in the given role will be returned.\n              Either <strong>REVIEWER</strong>, <strong>AUTHOR</strong> or <strong>PARTICIPANT</strong>.",
            "in": "query",
            "name": "role",
            "required": false,
            "type": "string"
          },
          {
            "description": "(optional, defaults to returning pull requests with any participant status). A comma\n                          separated list of participant status. That is, one or more of\n                          <strong>UNAPPROVED</strong>, <strong>NEEDS_WORK</strong>, or <strong>APPROVED</strong>.",
            "in": "query",
            "name": "participantStatus",
            "required": false,
            "type": "string"
          },
          {
            "description": "(optional, defaults to <strong>NEWEST</strong>) the order to return pull requests in, either\n              <strong>OLDEST</strong> (as in: \"oldest first\"), <strong>NEWEST</strong>,\n              <strong>PARTICIPANT_STATUS</strong>, or <strong>CLOSED_DATE</strong>. Where\n              <strong>CLOSED_DATE</strong> is specified and the result set includes pull requests that are not in\n              the closed state, these pull requests will appear first in the result set, followed by most recently\n              closed pull requests.",
            "in": "query",
            "name": "order",
            "required": false,
            "type": "string"
          },
          {
            "description": "(optional, defaults to returning pull requests regardless of closed since date). Permits\n                      returning only pull requests with a closed timestamp set more recently that\n                      (now - closedSince). Units are in seconds. So for example if closed since 86400 is set only\n                      pull requests closed in the previous 24 hours will be returned.",
            "in": "query",
            "name": "closedSince",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieve a page of pull requests where the current authenticated user is involved as either a reviewer, author\n or a participant. The request may be filtered by pull request state, role or participant status.",
        "operationId": "getPullRequests"
      }
    },
    "/groups": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "if specified only group names containing the supplied string will be returned",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieve a page of group names.\n <p>\n The authenticated user must have <strong>PROJECT_ADMIN</strong> permission or higher to call this resource.",
        "operationId": "getGroups"
      }
    },
    "/hooks/{hookKey}/avatar": {
      "parameters": [
        {
          "description": "the complete module key of the hook module",
          "in": "path",
          "name": "hookKey",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "optional version used for HTTP caching only - any non-blank version will result in a large max-age Cache-Control header.\n                Note that this does not affect the Last-Modified header.",
            "in": "query",
            "name": "version",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieve the avatar for the project matching the supplied <strong>moduleKey</strong>.",
        "operationId": "getAvatar"
      }
    },
    "/inbox/pull-requests": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "default": 0,
            "format": "int32",
            "in": "query",
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "default": 25,
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "default": "reviewer",
            "in": "query",
            "name": "role",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "operationId": "getPullRequests"
      }
    },
    "/inbox/pull-requests/count": {
      "parameters": [],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "operationId": "getPullRequestCount",
        "parameters": [
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ]
      }
    },
    "/labels": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "(optional) prefix to filter the labels on.",
            "in": "query",
            "name": "prefix",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Returns a paged response of all the labels in the system.\n <p>\n The user needs to be authenticated to use this resource.",
        "operationId": "getLabels"
      }
    },
    "/labels/{labelName}": {
      "parameters": [
        {
          "description": "the label name",
          "in": "path",
          "name": "labelName",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Returns a label.\n <p>\n The user needs to be authenticated to use this resource.",
        "operationId": "getLabel",
        "parameters": [
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ]
      }
    },
    "/labels/{labelName}/labeled": {
      "parameters": [
        {
          "description": "the label name, provided on the path",
          "in": "path",
          "name": "labelName",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "the type of labelables to be returned. Supported values: REPOSITORY",
            "in": "query",
            "name": "type",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Returns a page of labelables for a given label.\n <p>\n The authenticated user must have <strong>REPO_ADMIN</strong> permission for the specified repository.",
        "operationId": "getLabelables"
      }
    },
    "/logs/logger/{loggerName}": {
      "parameters": [
        {
          "description": "the name of the logger.",
          "in": "path",
          "name": "loggerName",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieve the current log level for a given logger.\n <p>\n The authenticated user must have <strong>ADMIN</strong> permission or higher to call this resource.",
        "operationId": "getLevel",
        "parameters": [
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ]
      }
    },
    "/logs/logger/{loggerName}/{levelName}": {
      "parameters": [
        {
          "description": "the level to set the logger to. Either TRACE, DEBUG, INFO, WARN or ERROR",
          "in": "path",
          "name": "levelName",
          "required": true,
          "type": "string"
        },
        {
          "description": "the name of the logger.",
          "in": "path",
          "name": "loggerName",
          "required": true,
          "type": "string"
        }
      ],
      "put": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Set the current log level for a given logger.\n <p>\n The authenticated user must have <strong>ADMIN</strong> permission or higher to call this resource.",
        "operationId": "setLevel"
      }
    },
    "/logs/rootLogger": {
      "parameters": [],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieve the current log level for the root logger.\n <p>\n The authenticated user must have <strong>ADMIN</strong> permission or higher to call this resource.",
        "operationId": "getRootLevel",
        "parameters": [
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ]
      }
    },
    "/logs/rootLogger/{levelName}": {
      "parameters": [
        {
          "description": "the level to set the logger to. Either TRACE, DEBUG, INFO, WARN or ERROR",
          "in": "path",
          "name": "levelName",
          "required": true,
          "type": "string"
        }
      ],
      "put": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Set the current log level for the root logger.\n <p>\n The authenticated user must have <strong>ADMIN</strong> permission or higher to call this resource.",
        "operationId": "setRootLevel"
      }
    },
    "/markup/preview": {
      "parameters": [],
      "post": {
        "parameters": [
          {
            "description": "(Optional) Whether the markup implementation should convert newlines to breaks.\n                         By default this is false which reflects the standard markdown specification.",
            "in": "query",
            "name": "hardwrap",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "(Optional) true if HTML should be escaped in the input markup, false otherwise.",
            "in": "query",
            "name": "htmlEscape",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "(Optional) true if headers should contain an ID based on the heading content.",
            "in": "query",
            "name": "includeHeadingId",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "(Optional) The mode to use when building URLs. One of: ABSOLUTE, RELATIVE or CONFIGURED.\n                         By default this is RELATIVE.",
            "in": "query",
            "name": "urlMode",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Preview generated HTML for the given markdown content.\n <p>\n Only authenticated users may call this resource.",
        "operationId": "preview"
      }
    },
    "/migration/exports": {
      "parameters": [],
      "post": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "<p>Starts a background job that exports the selected repositories.\n\n <p>Only 2 concurrent exports are supported <em>per cluster node</em>. If a request ends up on a node that is already\n running that many export jobs, the request will be rejected and an error returned.\n\n <p>The response includes a description of the job that has been started, and its ID can be used to query\n these details again, including the current progress, warnings and errors that occurred while processing the job,\n and to interrupt and cancel the execution of this job.\n\n <p>The request to start an export is similar to the one for previewing an export. Additionally, it accepts an optional\n parameter, <tt>exportLocation</tt>, which can be used to specify a <em>relative</em> path within\n <tt>data/migration/export</tt> in the shared home directory. No locations outside of that directory will be\n accepted for exports.\n\n <p>There are essentially three ways to select repositories for export. Regardless of which you use, a few\n general rules apply:\n <ul>\n     <li>You can supply a list of selectors. The selection will be additive.</li>\n     <li>Repositories that are selected more than once due to overlapping selectors will be de-duplicated and\n     effectively exported only once.</li>\n     <li>For every selected repository, its full fork hierarchy will be considered selected, even if parts of that\n     hierarchy would otherwise not be matched by the provided selectors. For example, when you explicitly\n     select a single repository only, but that repository is a fork, then its origin will be exported (and\n     eventually imported), too.</li>\n </ul>\n\n <p>Now, a single repository can be selected like this:\n\n <pre>\n     {\n        \"projectKey\": \"PRJ\",\n        \"slug\": \"my-repo\"\n     }\n     </pre>\n\n <p>Second, all repositories in a specific project can be selected like this:\n\n <pre>\n     {\n        \"projectKey\": \"PRJ\",\n        \"slug\": *\"\n     }\n     </pre>\n\n <p>And third, all projects and repositories in the system would be selected like this:\n\n <pre>\n     {\n        \"projectKey\": \"*\",\n        \"slug\": *\"\n     }\n     </pre>\n\n <p>The authenticated user must have <strong>ADMIN</strong> permission or higher to call this resource.",
        "operationId": "startExport"
      }
    },
    "/migration/exports/preview": {
      "parameters": [],
      "post": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Enumerates the projects and repositories that would be exported for a given export request.\n\n <p>All affected repositories will be enumerated explicitly, and while projects are listed as individual items in\n responses from this endpoint, their presence does not imply that all their repositories are included.\n\n <p>While this endpoint can be used to verify that all selectors in the request apply as intended, it should be\n noted that a subsequent, actual export might contain a different set of repositories, as they might have been\n added or deleted in the meantime.\n\n <p>Note that the overall response from this endpoint can become very large when a lot of repositories end up in\n the selection. This is why the server is streaming the response while it is being generated (as opposed to\n creating it in memory and then sending it all at once) and it can be consumed in a streaming way, too.\n\n <p>Also, due to the potential size of the response, projects and repositories are listed with fewer details than\n in other REST responses.\n\n <p>For a more detailed description of selectors, see the endpoint documentation for starting an export.\n\n <p>The authenticated user must have <strong>ADMIN</strong> permission or higher to call this resource.",
        "operationId": "previewExport"
      }
    },
    "/migration/exports/{jobId}": {
      "parameters": [
        {
          "description": "the ID of the job",
          "format": "int64",
          "in": "path",
          "name": "jobId",
          "required": true,
          "type": "integer"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Gets the details, including the current status and progress, of the export job identified by the given ID.\n\n <p>The authenticated user must have <strong>ADMIN</strong> permission or higher to call this resource.",
        "operationId": "getExportJob",
        "parameters": [
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ]
      }
    },
    "/migration/exports/{jobId}/cancel": {
      "parameters": [
        {
          "description": "the ID of the job to cancel",
          "format": "int64",
          "in": "path",
          "name": "jobId",
          "required": true,
          "type": "integer"
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Requests the cancellation of an export job.\n\n <p>The request to cancel a job will be processed successfully if the job is actually still running. If it has\n already finished (successfully or with errors) or if it has already been canceled before, then an error will be\n returned.\n\n <p>There might be a small delay between accepting the request and actually cancelling the job. In most cases,\n the delay will be close to instantaneously. In the unlikely case of communication issues across a cluster,\n it can however take a few seconds to cancel a job.\n\n <p>A client should always actively query the job status to confirm that a job has been successfully canceled.\n\n <p>The authenticated user must have <strong>ADMIN</strong> permission or higher to call this resource.",
        "operationId": "cancelExportJob"
      }
    },
    "/migration/exports/{jobId}/messages": {
      "parameters": [
        {
          "description": "the ID of the job",
          "format": "int64",
          "in": "path",
          "name": "jobId",
          "required": true,
          "type": "integer"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "the severity to include in the results",
            "in": "query",
            "name": "severity",
            "required": false,
            "type": "string"
          },
          {
            "description": "the subject",
            "in": "query",
            "name": "subject",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Gets the messages generated by the job.\n\n <p>Without any filter, all messages will be returned, but the response can optionally be filtered for the\n following severities. The severity parameter can be repeated to include multiple severities\n in one response.\n\n <ul>\n     <li>INFO</li>\n     <li>WARN</li>\n     <li>ERROR</li>\n </ul>\n\n <p>The authenticated user must have <strong>ADMIN</strong> permission or higher to call this resource.",
        "operationId": "getExportJobMessages"
      }
    },
    "/migration/imports": {
      "parameters": [],
      "post": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Starts a background job that imports the specified archive.\n\n <p>Only 1 import at a time is supported <em>per cluster</em>. If another request is made while an import is already\n running, the request will be rejected and an error returned.\n\n <p>The path in the request must point to a valid archive file. The file must be located within the\n <tt>data/migration/import</tt> directory in the shared home directory.\n\n <p>The authenticated user must have <strong>ADMIN</strong> permission or higher to call this resource.",
        "operationId": "startImport"
      }
    },
    "/migration/imports/{jobId}": {
      "parameters": [
        {
          "description": "the ID of the job",
          "format": "int64",
          "in": "path",
          "name": "jobId",
          "required": true,
          "type": "integer"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Gets the details, including the current status and progress, of the import job identified by the given ID.\n\n <p>The authenticated user must have <strong>ADMIN</strong> permission or higher to call this resource.",
        "operationId": "getImportJob",
        "parameters": [
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ]
      }
    },
    "/migration/imports/{jobId}/cancel": {
      "parameters": [
        {
          "description": "the ID of the job to cancel",
          "format": "int64",
          "in": "path",
          "name": "jobId",
          "required": true,
          "type": "integer"
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Requests the cancellation of an import job.\n\n <p>The request to cancel a job will be processed successfully if the job is actually still running. If it has\n already finished (successfully or with errors) or if it has already been canceled before, then an error will be\n returned.\n\n <p>Note that import jobs are not canceled as instantaneously as export jobs. Rather, once the request has been\n accepted, there are a number of checkpoints at which the job will actually apply it and stop. This is to keep\n the system in a reasonably consistent state:\n\n <ul>\n     <li>After the current fork hierarchy has been imported and verified.</li>\n     <li>Before the next repository is imported.</li>\n     <li>Before the next pull request is imported.</li>\n </ul>\n\n <p>A client should always actively query the job status to confirm that a job has been successfully canceled.\n\n <p>The authenticated user must have <strong>ADMIN</strong> permission or higher to call this resource.",
        "operationId": "cancelImportJob"
      }
    },
    "/migration/imports/{jobId}/messages": {
      "parameters": [
        {
          "description": "the ID of the job",
          "format": "int64",
          "in": "path",
          "name": "jobId",
          "required": true,
          "type": "integer"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "the severity to include in the results",
            "in": "query",
            "name": "severity",
            "required": false,
            "type": "string"
          },
          {
            "description": "the subject",
            "in": "query",
            "name": "subject",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Gets the messages generated by the job.\n\n <p>Without any filter, all messages will be returned, but the response can optionally be filtered for the\n following severities. The severity parameter can be repeated to include multiple severities\n in one response.\n\n <ul>\n     <li>INFO</li>\n     <li>WARN</li>\n     <li>ERROR</li>\n </ul>\n\n <p>The authenticated user must have <strong>ADMIN</strong> permission or higher to call this resource.",
        "operationId": "getImportJobMessages"
      }
    },
    "/profile/recent/repos": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "(optional) if specified, it must be a valid repository permission level name and will limit\n                   the resulting repository list to ones that the requesting user has the specified permission\n                   level to. If not specified, the default <code>REPO_READ</code> permission level will be assumed.",
            "in": "query",
            "name": "permission",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieve a page of recently accessed repositories for the currently authenticated user.\n <p>\n Repositories are ordered from most recently to least recently accessed.\n <p>\n Only authenticated users may call this resource.",
        "operationId": "getRepositoriesRecentlyAccessed"
      }
    },
    "/projects": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "name to filter by",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          },
          {
            "description": "permission to filter by",
            "in": "query",
            "name": "permission",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieve a page of projects.\n <p>\n Only projects for which the authenticated user has the <strong>PROJECT_VIEW</strong> permission will be returned.",
        "operationId": "getProjects"
      },
      "post": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Create a new project.\n <p>\n To include a custom avatar for the project, the project definition should contain an additional attribute with\n the key <code>avatar</code> and the value a data URI containing Base64-encoded image data. The URI should be in\n the following format:\n <pre>\n     data:(content type, e.g. image/png);base64,(data)\n </pre>\n If the data is not Base64-encoded, or if a character set is defined in the URI, or the URI is otherwise invalid,\n <em>project creation will fail</em>.\n <p>\n The authenticated user must have <strong>PROJECT_CREATE</strong> permission to call this resource.",
        "operationId": "createProject"
      }
    },
    "/projects/{projectKey}": {
      "parameters": [
        {
          "type": "string",
          "name": "projectKey",
          "in": "path",
          "required": true
        }
      ],
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Delete the project matching the supplied <strong>projectKey</strong>.\n <p>\n The authenticated user must have <strong>PROJECT_ADMIN</strong> permission for the specified project to call this\n resource.",
        "operationId": "deleteProject"
      },
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieve the project matching the supplied <strong>projectKey</strong>.\n <p>\n The authenticated user must have <strong>PROJECT_VIEW</strong> permission for the specified project to call this\n resource.",
        "operationId": "getProject",
        "parameters": [
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ]
      },
      "put": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Update the project matching the <strong>projectKey</strong> supplied in the resource path.\n <p>\n To include a custom avatar for the updated project, the project definition should contain an additional attribute\n with the key <code>avatar</code> and the value a data URI containing Base64-encoded image data. The URI should be\n in the following format:\n <code>\n     data:(content type, e.g. image/png);base64,(data)\n </code>\n If the data is not Base64-encoded, or if a character set is defined in the URI, or the URI is otherwise invalid,\n <em>project creation will fail</em>.\n <p>\n The authenticated user must have <strong>PROJECT_ADMIN</strong> permission for the specified project to call this\n resource.",
        "operationId": "updateProject"
      }
    },
    "/projects/{projectKey}/avatar.png": {
      "parameters": [
        {
          "type": "string",
          "name": "projectKey",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "parameters": [
          {
            "default": 0,
            "description": "The desired size of the image. The server will return an image as close as possible to the specified\n             size.",
            "format": "int32",
            "in": "query",
            "name": "s",
            "required": false,
            "type": "integer"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieve the avatar for the project matching the supplied <strong>projectKey</strong>.\n <p>\n The authenticated user must have <strong>PROJECT_VIEW</strong> permission for the specified project to call this\n resource.",
        "operationId": "getProjectAvatar"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Update the avatar for the project matching the supplied <strong>projectKey</strong>.\n <p>\n This resource accepts POST multipart form data, containing a single image in a form-field named 'avatar'.\n <p>\n There are configurable server limits on both the dimensions (1024x1024 pixels by default) and uploaded file size\n (1MB by default). Several different image formats are supported, but <strong>PNG</strong> and\n <strong>JPEG</strong> are preferred due to the file size limit.\n <p>\n This resource has Cross-Site Request Forgery (XSRF) protection. To allow the request to\n pass the XSRF check the caller needs to send an <code>X-Atlassian-Token</code> HTTP header with the\n value <code>no-check</code>.\n <p>\n An example <a href=\"http://curl.haxx.se/\">curl</a> request to upload an image name 'avatar.png' would be:\n <pre>\n curl -X POST -u username:password -H \"X-Atlassian-Token: no-check\" http://example.com/rest/api/1.0/projects/STASH/avatar.png -F avatar=@avatar.png\n </pre>\n <p>\n The authenticated user must have <strong>PROJECT_ADMIN</strong> permission for the specified project to call this\n resource.",
        "operationId": "uploadAvatar"
      }
    },
    "/projects/{projectKey}/permissions/groups": {
      "parameters": [
        {
          "type": "string",
          "name": "projectKey",
          "in": "path",
          "required": true
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "the name of the group",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Revoke all permissions for the specified project for a group.\n <p>\n The authenticated user must have <strong>PROJECT_ADMIN</strong> permission for the specified project or a higher\n global permission to call this resource.\n <p>\n In addition, a user may not revoke a group's permissions if it will reduce their own permission level.",
        "operationId": "revokePermissionsForGroup"
      },
      "get": {
        "parameters": [
          {
            "description": "if specified only group names containing the supplied string will be returned",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieve a page of groups that have been granted at least one permission for the specified project.\n <p>\n The authenticated user must have <strong>PROJECT_ADMIN</strong> permission for the specified project or a higher\n global permission to call this resource.",
        "operationId": "getGroupsWithAnyPermission"
      },
      "put": {
        "parameters": [
          {
            "description": "The permission to grant.\n                       See the [permissions documentation](https://confluence.atlassian.com/display/BitbucketServer/Using+project+permissions)\n                       for a detailed explanation of what each permission entails.\n                       Available project permissions are:\n                       <ul>\n                           <li>PROJECT_READ</li>\n                           <li>PROJECT_WRITE</li>\n                           <li>PROJECT_ADMIN</li>\n                       </ul>",
            "in": "query",
            "name": "permission",
            "required": false,
            "type": "string"
          },
          {
            "description": "the names of the groups",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Promote or demote a group's permission level for the specified project.\n <p>\n The authenticated user must have <strong>PROJECT_ADMIN</strong> permission for the specified project or a higher\n global permission to call this resource. In addition, a user may not demote a group's permission level if their\n own permission level would be reduced as a result.",
        "operationId": "setPermissionForGroups"
      }
    },
    "/projects/{projectKey}/permissions/groups/none": {
      "parameters": [
        {
          "type": "string",
          "name": "projectKey",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "if specified only group names containing the supplied string will be returned",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieve a page of groups that have no granted permissions for the specified project.\n <p>\n The authenticated user must have <strong>PROJECT_ADMIN</strong> permission for the specified project or a higher\n global permission to call this resource.",
        "operationId": "getGroupsWithoutAnyPermission"
      }
    },
    "/projects/{projectKey}/permissions/users": {
      "parameters": [
        {
          "type": "string",
          "name": "projectKey",
          "in": "path",
          "required": true
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "the name of the user",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Revoke all permissions for the specified project for a user.\n <p>\n The authenticated user must have <strong>PROJECT_ADMIN</strong> permission for the specified project or a higher\n global permission to call this resource.\n <p>\n In addition, a user may not revoke their own project permissions if they do not have a higher global permission.",
        "operationId": "revokePermissionsForUser"
      },
      "get": {
        "parameters": [
          {
            "description": "if specified only user names containing the supplied string will be returned",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieve a page of users that have been granted at least one permission for the specified project.\n <p>\n The authenticated user must have <strong>PROJECT_ADMIN</strong> permission for the specified project or a higher\n global permission to call this resource.",
        "operationId": "getUsersWithAnyPermission"
      },
      "put": {
        "parameters": [
          {
            "description": "the names of the users",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          },
          {
            "description": "the permission to grant. See the [permissions documentation](https://confluence.atlassian.com/display/BitbucketServer/Using+project+permissions)\n                       for a detailed explanation of what each permission entails.\n                       Available project permissions are:\n                       <ul>\n                           <li>PROJECT_READ</li>\n                           <li>PROJECT_WRITE</li>\n                           <li>PROJECT_ADMIN</li>\n                       </ul>",
            "in": "query",
            "name": "permission",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Promote or demote a user's permission level for the specified project.\n <p>\n The authenticated user must have <strong>PROJECT_ADMIN</strong> permission for the specified project or a higher\n global permission to call this resource. In addition, a user may not reduce their own permission level unless\n they have a global permission that already implies that permission.",
        "operationId": "setPermissionForUsers"
      }
    },
    "/projects/{projectKey}/permissions/users/none": {
      "parameters": [
        {
          "type": "string",
          "name": "projectKey",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "if specified only user names containing the supplied string will be returned",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieve a page of <i>licensed</i> users that have no granted permissions for the specified project.\n <p>\n The authenticated user must have <strong>PROJECT_ADMIN</strong> permission for the specified project or a higher\n global permission to call this resource.",
        "operationId": "getUsersWithoutPermission"
      }
    },
    "/projects/{projectKey}/permissions/{permission}/all": {
      "parameters": [
        {
          "type": "string",
          "name": "projectKey",
          "in": "path",
          "required": true
        },
        {
          "description": "the permission to grant\n                       Available project permissions are:\n                       <ul>\n                           <li>PROJECT_READ</li>\n                           <li>PROJECT_WRITE</li>\n                           <li>PROJECT_ADMIN</li>\n                       </ul>",
          "in": "path",
          "name": "permission",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Check whether the specified permission is the default permission (granted to all users) for a project.\n <p>\n The authenticated user must have <strong>PROJECT_ADMIN</strong> permission for the specified project or a higher\n global permission to call this resource.",
        "operationId": "hasAllUserPermission",
        "parameters": [
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ]
      },
      "post": {
        "parameters": [
          {
            "description": "<em>true</em> to grant the specified permission to all users, or <em>false</em> to revoke it",
            "in": "query",
            "name": "allow",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Grant or revoke a project permission to all users, i.e. set the default permission.\n <p>\n The authenticated user must have <strong>PROJECT_ADMIN</strong> permission for the specified project or a higher\n global permission to call this resource.",
        "operationId": "modifyAllUserPermission"
      }
    },
    "/projects/{projectKey}/repos": {
      "parameters": [
        {
          "description": "the parent project key",
          "in": "path",
          "name": "projectKey",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieve repositories from the project corresponding to the supplied <strong>projectKey</strong>.\n <p>\n The authenticated user must have <strong>REPO_READ</strong> permission for the specified project to call this\n resource.",
        "operationId": "getRepositories",
        "parameters": [
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ]
      },
      "post": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Create a new repository. Requires an existing project in which this repository will be created.\n The only parameters which will be used are name and scmId.\n <p>\n The authenticated user must have <strong>PROJECT_ADMIN</strong> permission for the context project to call this\n resource.",
        "operationId": "createRepository"
      }
    },
    "/projects/{projectKey}/repos/{repositorySlug}": {
      "parameters": [
        {
          "description": "the parent project key",
          "in": "path",
          "name": "projectKey",
          "required": true,
          "type": "string"
        },
        {
          "description": "the repository slug",
          "in": "path",
          "name": "repositorySlug",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Schedule the repository matching the supplied <strong>projectKey</strong> and <strong>repositorySlug</strong> to\n be deleted. If the request repository is not present\n <p>\n The authenticated user must have sufficient permissions specified by the repository delete policy to call this\n resource. The default permission required is <strong>REPO_ADMIN</strong> permission.",
        "operationId": "deleteRepository"
      },
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Retrieve the repository matching the supplied <strong>projectKey</strong> and <strong>repositorySlug</strong>.\n <p>\n The authenticated user must have <strong>REPO_READ</strong> permission for the specified repository to call this\n resource.",
        "operationId": "getRepository",
        "parameters": [
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ]
      },
      "post": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Create a new repository forked from an existing repository.\n <p>\n The JSON body for this <code>POST</code> is not required to contain <i>any</i> properties. Even the name may\n be omitted. The following properties will be used, if provided:\n <ul>\n     <li><code>\"name\":\"Fork name\"</code> - Specifies the forked repository's name\n     <ul>\n         <li>Defaults to the name of the origin repository if not specified</li>\n     </ul>\n     </li>\n     <li><code>\"defaultBranch\":\"main\"</code> - Specifies the forked repository's default branch\n     <ul>\n          <li>Defaults to the origin repository's default branch if not specified</li>\n     </ul>\n     </li>\n     <li><code>\"project\":{\"key\":\"TARGET_KEY\"}</code> - Specifies the forked repository's target project by key\n     <ul>\n         <li>Defaults to the current user's personal project if not specified</li>\n     </ul>\n     </li>\n </ul>\n <p>\n The authenticated user must have <strong>REPO_READ</strong> permission for the specified repository and\n <strong>PROJECT_ADMIN</strong> on the target project to call this resource. Note that users <i>always</i>\n have <b>PROJECT_ADMIN</b> permission on their personal projects.",
        "operationId": "forkRepository"
      },
      "put": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Update the repository matching the <strong>repositorySlug</strong> supplied in the resource path.\n <p>\n The repository's slug is derived from its name. If the name changes the slug may also change.\n <p>\n This resource can be used to change the repository's default branch by specifying a new default branch in the\n request. For example: <code>\"defaultBranch\":\"main\"</code>\n <p>\n This resource can be used to move the repository to a different project by specifying a new project in the\n request. For example: <code>\"project\":{\"key\":\"NEW_KEY\"}</code>\n <p>\n The authenticated user must have <strong>REPO_ADMIN</strong> permission for the specified repository to call this\n resource.",
        "operationId": "updateRepository"
      }
    },
    "/projects/{projectKey}/repos/{repositorySlug}/archive": {
      "parameters": [
        {
          "type": "string",
          "name": "projectKey",
          "in": "path",
          "required": true
        },
        {
          "type": "string",
          "name": "repositorySlug",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "the commit to stream an archive of; if not supplied, an archive of the default branch is streamed",
            "in": "query",
            "name": "at",
            "required": false,
            "type": "string"
          },
          {
            "description": "a filename to include the \"Content-Disposition\" header",
            "in": "query",
            "name": "filename",
            "required": false,
            "type": "string"
          },
          {
            "description": "the format to stream the archive in; must be one of: zip, tar, tar.gz or tgz",
            "in": "query",
            "name": "format",
            "required": false,
            "type": "string"
          },
          {
            "description": "paths to include in the streamed archive; may be repeated to include multiple paths",
            "in": "query",
            "name": "path",
            "required": false,
            "type": "string"
          },
          {
            "description": "a prefix to apply to all entries in the streamed archive; if the supplied prefix does not end\n                 with a trailing <code>/</code>, one will be added automatically",
            "in": "query",
            "name": "prefix",
            "required": false,
            "type": "string"
          },
          {
            "type": "string",
            "name": "expand",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "description": "Streams an archive of the repository's contents at the requested commit. If no <code>at=</code> commit is\n requested, an archive of the default branch is streamed.\n <p>\n The <code>filename=</code> query parameter may be used to specify the exact filename to include in the\n <code>\"Content-Disposition\"</code> header. If an explicit filename is not provided, one will be automatically\n generated based on what is being archived. Its format depends on the <code>at=</code> value:\n <ul>\n     <li>No <code>at=</code> commit:\n     <code>&lt;slug&gt;-&lt;default-branch-name&gt;@&lt;commit&gt;.&lt;format&gt;</code>;\n     e.g. example-master@43c2f8a0fe8.zip</li>\n     <li><code>at=sha</code>: <code>&lt;slug&gt;-&lt;at&gt;.&lt;format&gt;</code>; e.g.\n     example-09bcbb00100cfbb5310fb6834a1d5ce6cac253e9.tar.gz</li>\n     <li><code>at=branchOrTag</code>: <code>&lt;slug&gt;-&lt;branchOrTag&gt;@&lt;commit&gt;.&lt;format&gt;</code>;\n     e.g. example-feature@bbb225f16e1.tar\n     <ul>\n         <li>If the branch or tag is qualified (e.g. <code>refs/heads/master</code>, the short name\n         (<code>master</code>) will be included in the filename</li>\n         <li>If the branch or tag's <i>short name</i> includes slashes (e.g. <code>release/4.6</code>),\n         they will be converted to hyphens in the filename (<code>release-4.5</code>)</li>\n     </ul>\n     </li>\n </ul>\n <p>\n Archives may be requested in the following formats by adding the <code>format=</code> query parameter:\n <ul>\n     <li><code>zip</code>: A zip file using standard compression (Default)</li>\n     <li><code>tar</code>: An uncompressed tarball</li>\n     <li><code>tar.gz</code> or <code>tgz</code>: A GZip-compressed tarball</li>\n </ul>\n The contents of the archive may be filtered by using the <code>path=</code> query parameter to specify paths to\n include. <code>path=</code> may be specified multiple times to include multiple paths.\n <p>\n The <code>prefix=</code> query parameter may be used to de
[...]
